.title {
    background-color: rgb(1, 119, 99);

}




.contacts_list{
    background-color: khaki;


}



.me{
    background-color: darksalmon;
}


.Skills{
    background-color: mediumpurple;

}



.Work{
    background-color: darkorange;

}


.Languages{
    background-color: violet;


}