body{
    background-color: #f1f1f1;
    font-size: 16px;
    font-weight: normal ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;    
    max-width: 700px;
    margin: auto;

}
a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;

}

a:active {
     color: rgb(94, 0, 131);

}

a:visited {
    color: gray;

}
.title_1{
    width: 250px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}



h2{
    margin-top: 12px;
    margin-bottom: 12px;

}
ul{
    margin-top: 12px;
    margin-left: 0px;
    padding: 5px 20px;
}

li{
    color: #86898f;
    margin-bottom: 4px;
}




.me{
    display: flex;
    margin-bottom: 20px;
}

.me p{
    color: #86898f;    
    font-style: italic;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;

}

.Skills{
    background-color: lightsalmon;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}
h1{
    margin-top: 40px;

}
.text{
    padding-left: 30px;
}

.Work{
    background-color: pink;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

@media(max-width: 700px) {
    .me { 
        display: block;
        text-align: center;
    }
}

.Languages{
    background-color: lightblue;
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;

}

.photo{
    margin-top: 20px;
}

h3{
    margin-bottom: 10px;
}